vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Nov 2023 07:47:08 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Group8\\ FDD\\ Assignment/contactinfo.html Group8\\ FDD\\ Assignment/wellness.html Group8\\ FDD\\ Assignment/payment.html Group8\\ FDD\\ Assignment/rulesandregulations.html Group8\\ FDD\\ Assignment/form.html
vti_author:SR|LAPTOP-TBJ6RJVV\\admin
vti_modifiedby:SR|LAPTOP-TBJ6RJVV\\admin
vti_timecreated:TR|26 Nov 2023 07:47:08 -0000
vti_cacheddtm:TX|26 Nov 2023 07:47:08 -0000
vti_filesize:IR|4827
vti_cachedlinkinfo:VX|Q|https://fonts.googleapis.com/css2
vti_cachedsvcrellinks:VX|NQSS|https://fonts.googleapis.com/css2
